<li>
  <div class="media">
    <img class="img badge-img" src="<%- image %>">
    <div class="bd">
      <div class="badge-name"><a target="_blank" href="<%- criteria %>"><%- name %></a></div>
      <div class="badge-desc"><%- description %></div>
    </div>
  </div>
</li>
